* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    display: block;
    padding: 0;
}

.header{
    background-color: #EBEBE5;
    height: 70px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    border:1px solid #EBEBE5;
    padding: 5%;
}

.offers {
    background-color: #EBEBE5;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 10%;
    border: 2px #EBEBE5 solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
}

.offers:hover {
    opacity: 0.6;
}

.offers a{
    text-decoration: none;
}


.offers h2{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-family: PT Sans Caption;
    color: #2F4F4F;
    padding: 2%;
    background-color: white;
}

.offers h3{
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
    font-family: PT Sans Caption;
    color: #2F4F4F;
    padding: 2%;
}

.offers button{
    text-align: center;
    width: 180px;
    height: 30px;
    font-family: PT Sans Caption;
    margin: 5%;
    border: 1px #99A399 solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    background-color: #E6E6E0;
}

.offers button:hover{
    opacity: 0.6;
}

.special_offers h2{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: PT Sans Caption;
    color: #2F4F4F;
    padding: 3%;
    background-color: #ECEEEC;
}

.offers_popular {
    text-align: center;
    height: 10%;
}

.offers_popular a{
    text-decoration: none;
}


.offers_popular h3{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: PT Sans Caption;
    color: #2F4F4F;
    padding: 2%;
    background-color: #ECEEEC;
}

.offers_popular h4{
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: PT Sans Caption;
    color: #2F4F4F;
    padding: 2%;
}

.offers_popular button{
    text-align: center;
    width: 180px;
    height: 30px;
    font-family: PT Sans Caption;
    margin: 5%;
    border: 1px #99A399 solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    background-color: #E6E6E0;
}

.offers_popular button:hover{
    opacity: 0.6;
}

.center {
    display: flex;
}

.special_offers{
    width: 15%;
}

.special_offers h2 {
    text-align: center;
    font-size: 20px;
    font-family: PT Sans Caption;
    margin: 5%;
}

.back {
    display: block;
    width: 270px;
    height: 30px;
    text-decoration: none;
    font-family: PT Sans Caption;
    text-align: center;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    color: #2F4F4F;
    border: 1px #2F4F4F solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    background-color: #E6E6E0;
}

.basket{
    width:15%;
}

.basket h2 {
    text-align: center;
    font-size: 20px;
    font-family: PT Sans Caption;
    margin: 5%;
}

/*-----------OFFERS PAGE---------------*/

.offers_page{
    text-align: center;
}

.offers_page h1{
    font-size: 20px;
    font-weight: 400;
    font-family: PT Sans Caption;
    color: #2F4F4F;
    padding: 2%;
    background-color: white;
}

.offers_page h2{
    font-size: 20px;
    font-weight: 400;
    font-family: PT Sans Caption;
    color: #2F4F4F;
    padding: 2%;
    background-color: white;
}

.offers_page h3{
    font-size: 20px;
    font-weight: 400;
    font-family: PT Sans Caption;
    color: #2F4F4F;
    padding: 2%;
    background-color: white;
}

.buyme {
    text-align: center;
    width: 230px;
    height: 30px;
    font-family: PT Sans Caption;
    margin: 5%;
    border: 1px #E6E6E0 solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    background-color: #E6E6E0;
}

.red_del{
    text-align: center;
    width: 130px;
    height: 30px;
    font-family: PT Sans Caption;
    border: 1px #E6E6E0 solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    background-color: #E6E6E0;
}

.offers_page button:hover{
    opacity: 0.6;
}

.add_offer_button {
    display: block;
    text-align: center;
    width: 280px;
    height: 60px;
    font-family: PT Sans Caption;
    margin: 0 auto;
    border: 1px #999999 solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    background-color: #E6E6E0;
}

.offers_admin {
    background-color: #EBEBE5;
    text-align: center;
    margin-top: 2%;
    padding: 1%;
    border: 1px #EBEBE5 solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
}

.offers_admin a{
    text-decoration: none;
    font-family: PT Sans Caption;
    color: #373737;
    text-align: center;
    padding-top: 2% ;
    font-size: 20px;
}

.offers_admin a:hover {
    opacity: 0.5;
}



/*----------------CHANGE OFFER----------*/

.change_foto {
    text-align: center;
    display: flex;
}

.now_content{
    width: 300px;
    height: 300px;
}

/*----------------FORM----------------*/
.add_foto{
    text-align: center;
}

.add_foto button{
    margin: 30px;
    width: 250px;
    height: 50px;
    border: 1px #EBEBE5 solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    background-color: #999999;
    text-decoration: none;
    font-family: PT Sans Caption;
    text-align: center;
    font-size: 20px;
}

.add_foto button:hover{
    opacity: 0.8;
}

.form {
    background-color: #DBEBDB;
}

.form_input {
    margin-bottom: 3%;
}

.desc{
    margin-bottom: 10%;
    font-size: 20px;
    font-weight: 400;
    font-family: PT Sans Caption;
    color: #696969;
}

.form_input{
    padding: 1%;
    font-size: 15px;
    width: 270px;
    height: 30px;
    border: 1px #EBEBE5 solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
}

.foto_input {
    padding: 1%;
    font-size: 13px;
    border: 1px darkgrey solid;
    background-color: #F5FFFA;
    width: 270px;
    height: 30px;
    border: 1px #EBEBE5 solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
}

.calculator{
    text-align: center;
}

.calculator button{
    margin: 30px;
    width: 150px;
    height: 40px;
    border: 1px #2F4F4F solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    background-color: #2F4F4F;
}

.calculator {
    background-color: #F5FFFA;
}

.calculator {
    margin-bottom: 5%;
}


.calculator [placeholder="Введите число a"]{
    padding: 1%;
    font-size: 15px;
    width: 230px;
    height: 20px;
}

.form [placeholder="Введите число b"] {
    padding: 1%;
    font-size: 15px;
    width: 230px;
    height: 20px;
}

footer {
    flex: 0 0 auto;
    width: 100%;
    height: 111px;
    background-color: #999999;
    text-align: center;
}
